{{ include('elements/breadcrumb.twig') }}

<form method="post">

    {% include 'elements/flash.message.twig' %}

    <div class="row">
        <div class="col-lg-5 ml-lg-5 toc-wrapper">
            <div id="toc" class="p-lg-4">
                <div class="mb-4 h4 font-weight-bold">
                    <!-- <button class="btn btn-sm btn-light align-middle add" id="add_chapter" title="Add new element">&nbsp;</button> -->
                    <span class="align-middle toc-title d-inline-block d-lg-none">Add chapter</span>
                    <span class="align-middle toc-title d-none d-lg-inline-block">Table of Contents</span>
                </div>

                <div class="form-group">
                    <ol class="dd-list">
                        <li class="dd-item">
                            <div class="dd-handle static {% if book.id and not chapter %} active{% endif %}">
                                <span class="title">
                                    {% if book.id %}
                                        <a href="{{ custom_url('generateBookUrl', book.slug)}}">Book details</a>
                                    {% else %}
                                        Book details
                                    {% endif %}
                                </span>
                            </div>
                        </li>
                    </ol>

                    {% if toc %}

                        <div class="dd" data-url="{{ custom_url('generateTocUrl', book.slug)}}">
                            {{ include('elements/chapters.twig', {chapters: toc, level: 0}) }}
                        </div>

                    {% endif %}
                </div>
            </div>
            <div id="toc-toggler" class="d-block d-lg-none">Table of Contents</div>
        </div>

        <div class="col col-lg-6 ml-lg-4 pb-lg-5 pr-lg-5">
            {% if not chapter %}
                {{ include('books/book-details.twig') }}
            {% else %}
                {{ include('books/chapter-details.twig') }}
            {% endif %}
        </div>
    </div>
</form>