<div class="mb-4 h4 font-weight-bold">
    <span class="align-middle">Book details</span>
</div>

<div class="form-group row">
    <div class="col-lg-12">
        <label class="form-control-label" for="title"><abbr class="text-danger text-decoration-none" title="This field is required">*</abbr>Title</label>
        <input type="text" name="title" id="title" value="{{ book['title']|e }}" class="form-control{% if errors['title'] %} is-invalid{% endif %}" />
        <span class="invalid-feedback"></span>
    </div>
</div>

<div class="form-group row">
    <div class="col-lg-12">
        <label class="form-control-label" for="subtitle">Subtitle</label>
        <input type="text" name="subtitle" id="subtitle" value="{{ book['subtitle']|e }}" class="form-control{% if errors['subtitle'] %} is-invalid{% endif %}" />
        <span class="invalid-feedback"></span>
    </div>
</div>

<div class="form-group row">
    <div class="col-lg-12">
        <label class="form-control-label" for="slug"><abbr class="text-danger text-decoration-none" title="This field is required">*</abbr>Slug</label>
        <input type="text" name="slug" id="slug" value="{{ book['slug']|e }}" class="form-control{% if errors['slug'] %} is-invalid{% endif %}" />
        <span class="invalid-feedback"></span>
    </div>
</div>

<div class="form-group row">
    <div class="col-lg-12">
        <label class="form-control-label" for="author">Author(s)</label>
        <input type="text" name="author" id="author" value="{{ book['author']|e }}" class="form-control{% if errors['author'] %} is-invalid{% endif %}" />
        <span class="invalid-feedback"></span>
    </div>
</div>

<div class="form-group row">
    <div class="col-lg-12">
        <label class="form-control-label" for="language_id"><abbr class="text-danger text-decoration-none" title="This field is required">*</abbr>Language</label>
        <select name="language_id" id="language_id" class="form-control{% if errors['language_id'] %} is-invalid{% endif %}">
            <option value="">--</option>
            {% for lang in languages %}
            <option value="{{ lang.getId() }}"{% if book['language_id'] == lang.getId() %} selected="selected"{% endif %}>{{ lang.getLanguage()|escape }}</option>
            {% endfor %}
        </select>
        <span class="invalid-feedback"></span>
    </div>
</div>

<div class="form-group row">
    <div class="col-lg-12">
        <label class="form-control-label" for="publisher">Publisher</label>
        <input type="text" name="publisher" id="publisher" value="{{ book['publisher']|e }}" class="form-control{% if errors['publisher'] %} is-invalid{% endif %}" />
        <span class="invalid-feedback"></span>
    </div>
</div>

<div class="form-group row">
    <div class="col-lg-12">
        <label class="form-control-label" for="year">Publishing year</label>
        <input type="text" name="year" id="year" value="{% if book['year'] != 0 %}{{ book['year']|e }}{% endif %}" class="form-control{% if errors['year'] %} is-invalid{% endif %}" />
        <span class="invalid-feedback"></span>
    </div>
</div>

<div class="form-group row">
    <div class="col-lg-12">
        <label class="form-control-label" for="isbn">ISBN</label>
        <input type="text" name="isbn" id="isbn" value="{{ book['isbn']|e }}" class="form-control{% if errors['isbn'] %} is-invalid{% endif %}" />
        <span class="invalid-feedback"></span>
    </div>
</div>

<div class="form-group row">
    <div class="col-lg-12">
        <label class="form-control-label" for="extra_info">Extra information</label>
        <textarea name="extra_info" id="extra_info" class="form-control{% if errors['extra_info'] %} is-invalid{% endif %}">{{ book['extra_info']|e }}</textarea>
        <span class="invalid-feedback"></span>
    </div>
</div>

<div class="form-group row text-center mt-5">
    <div class="col-lg-12">
        <input type="submit" class="btn btn-outline-info rounded-pill pl-4 pr-4 small-caps" value="{% if book['id'] %}Save{% else %}Add{% endif %} book" />
    </div>
</div>