{{ include('elements/breadcrumb.twig', {'breadcrumbs': ['Books']}) }}

<div class="d-flex d-sm-block flex-column text-center mb-4">
    <span class="font-weight-bold align-middle h4">Books list</span>
    <a href="{{ custom_url([{'action': 'add'}]) }}" class="btn btn-sm text-uppercase btn-outline-success add ml-md-3 order-first mb-4 mb-sm-0">Add new book</a>
</div>

{% include 'elements/flash.message.twig' %}

<div class="row mr-1 ml-1 mr-sm-5 ml-sm-5">
<div class="table-responsive mb-4">
    {% if books.isEmpty() %}
        <div class="text-center h5 m-5 p-5">
            No books are currently added.<br />
            To add a book, click <a href="{{ custom_url([{'action': 'add'}]) }}">here</a>.
        </div>
    {% else %}
    <table class="table table-striped table-hover table-bordered">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Author(s)</th>
            <th scope="col">Created</th>
            <th scope="col">Last modified</th>
            <th scope="col" class="text-center">Actions</th>
        </tr>
        {% for book in books %}
        <tr>
            <td scope="row">{{ loop.index }}.</td>
            <td>
                {% if book.getCoverImageSrc() %}
                    <a href="{{ book.getCoverImageSrc() }}" target="_blank"><img src="{{ book.getCoverImageSrc() }}" class="rounded thumb" /></a>
                {% endif %}
                <a href="{{ custom_url([{'action': 'edit', 'book': book.getSlug()}]) }}">{{ book.getTitle()|e }}</a>
            </td>
            <td>{{ book.getAuthor()|e|default('--') }}</td>
            <td>{{ book.getCreatedAt()|date('d.m.Y @ H:i') }}</td>
            <td>{{ book.getUpdatedAt()|date('d.m.Y @ H:i') }}</td>
            <td class="text-center">
                <a href="{{ custom_url([{controller: 'publish', action: 'index', book: book.getSlug()}]) }}" class="btn btn-sm btn-success">Download</a>
                <a href="{{ custom_url([{'action': 'edit', 'book': book.getSlug()}]) }}" class="btn btn-sm btn-primary">Edit</a>
                <a href="{{ custom_url([{'action': 'delete', 'book': book.getSlug()}]) }}" class="btn btn-sm btn-danger delete">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>    
    {% endif %}
</div>
</div>