    <nav id="toc" epub:type="toc" role="doc-toc">
        <h2 class="center mb-1">{{ metaTitle }}</h2>
        <ol>
            {% if book.getCoverImage() %}
            <li>
                <a href="coverpage.xhtml">Book Cover</a>
            </li>
            {% endif %}
            <li>
                <a href="titlepage.xhtml">Title Page</a>
            </li>
            {% if book.getDedication() %}
            <li>
                <a href="intro.xhtml">Intro</a>
            </li>
            {% endif %}
            {% for item in chapters %}
            <li>
                <a href="{{ item.getPartNumber() }}.xhtml">{{ item.getTitle()|e|trim }}</a>
                {{ include('toc-sublevel.twig', {chapters: item.getChildren()}) }}
            </li>
            {% endfor %}
            <li>
                <a href="toc.xhtml">{{ metaTitle }}</a>
            </li>
            <li>
                <a href="copyright.xhtml">Copyright</a>
            </li>
        </ol>
    </nav>
